*, *::before, *::after, ul, li, body, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

main {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.chart-container {
    position: relative; 
    height:30%;
    width:60%
}

#chart-controls input {
    width: 30%;
}

#chart-controls {
    margin-top: 40px;
}

#chart-controls label {
    display: inline-block;
    width: 150px;
}

.chart-integration {
    margin-top: 40px;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1400px) {

}